@model Golf_6.Models.Tidsbokning
@using Golf_6.Controllers;
@using Golf_6.Models;
@using System.Collections.Generic;
@{
    ViewBag.Title = "BokningAdmin";
}

<h2>View1</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tidsbokning</h4>
        <hr />
        @Html.ValidationSummary(true)

        @*<div class="form-group">
            @Html.LabelFor(model => model.BokningsID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BokningsID)
                @Html.ValidationMessageFor(model => model.BokningsID)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.BokareID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BokareID)
                @Html.ValidationMessageFor(model => model.BokareID)
            </div>
        </div>*@
        @{
            List<string> l = new List<string>();
            string a, b, c, d = "";
            l = ViewBag.Golfare;
            String datum = ViewBag.DatumAdmin;
            String tid = ViewBag.TidAdmin;
            Tidsbokning t = new Tidsbokning();
            if (l != null)
            {
                for (int i = 0; i <= l.Count; i++)
                {
                    if (l.Count == 1 || l.Count > 1)
                    {
                        a = l[0];
                        t.Spelare1ID = a;
                    }
                    if (l.Count == 2 || l.Count > 2)
                    {
                        b = l[1];
                        t.Spelare2ID = b;
                    }
                    if (l.Count == 3 || l.Count > 3)
                    {
                        c = l[2];
                        t.Spelare3ID = c;
                    }
                    if (l.Count == 4 || l.Count > 4)
                    {
                        d = l[3];
                        t.Spelare4ID = d;
                    }

                } 
            }
                    }
        <div class="form-group">
<style>
    #tbdatum{

    }
</style>
            <div class="col-md-10">
                <label>Datum </label>
                @Html.TextBox("tbdatum", datum, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-10">
                <label>Tid </label>
                @Html.TextBox("tbtid", tid, new { @class = "form-control", @readonly="readonly" })
            </div>
        </div>
<div class="form-group">
        
         <div class="col-md-10">
           <label>Spelare nr 1: </label>
             @{
                 if (t.Spelare1ID == null)
                 {
                      @Html.TextBox("myTextBox1", t.Spelare1ID, new { @class = "form-control" })
                 }
                 else
                 {
                      @Html.TextBox("myTextBox1", t.Spelare1ID, new { @class = "form-control", @readonly = "readonly" })
                 }
             }
          
         </div>
     </div>
        <div class="form-group">
            
            <div class="col-md-10">
                <label>Spelare nr 2: </label>   
                @{
                    if (t.Spelare2ID == null)
                    {
                        @Html.TextBox("myTextBox2", t.Spelare2ID, new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.TextBox("myTextBox2", t.Spelare2ID, new { @class = "form-control", @readonly = "readonly" })
                    }
                }
            </div>
        </div>
        <div class="form-group">
            
            <div class="col-md-10">
                <label>Spelare nr 3: </label>
                @{
                    if (t.Spelare3ID == null)
                    {
                        @Html.TextBox("myTextBox3", t.Spelare3ID, new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.TextBox("myTextBox3", t.Spelare3ID, new { @class = "form-control", @readonly = "readonly" })
                    }
                }
            </div>
        </div>
        <div class="form-group">
            
            <div class="col-md-10">
                <label>Spelare nr 4: </label>
                @{
                    if (t.Spelare4ID == null)
                    {
                        @Html.TextBox("myTextBox4", t.Spelare4ID, new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.TextBox("myTextBox4", t.Spelare4ID, new { @class = "form-control", @readonly = "readonly" })
                    }
                }
            </div>
        </div>
     
    @*<div class="form-group">
         @Html.LabelFor(model => model.Datum, new { @class = "control-label col-md-2" })
         <div class="col-md-10">
             @Html.EditorFor(model => model.Datum)
             @Html.ValidationMessageFor(model => model.Datum)
         </div>
     </div>

     <div class="form-group">
         @Html.LabelFor(model => model.Tid, new { @class = "control-label col-md-2" })
         <div class="col-md-10">
             @Html.EditorFor(model => model.Tid)
             @Html.ValidationMessageFor(model => model.Tid)
         </div>
     </div>

     <div class="form-group">
         @Html.LabelFor(model => model.Spelare1ID, new { @class = "control-label col-md-2" })
         <div class="col-md-10">
             @Html.EditorFor(model => model.Spelare1ID)
             @Html.ValidationMessageFor(model => model.Spelare1ID)
         </div>
     </div>

     <div class="form-group">
         @Html.LabelFor(model => model.Spelare2ID, new { @class = "control-label col-md-2" })
         <div class="col-md-10">
             @Html.EditorFor(model => model.Spelare2ID)
             @Html.ValidationMessageFor(model => model.Spelare2ID)
         </div>
     </div>

     <div class="form-group">
         @Html.LabelFor(model => model.Spelare3ID, new { @class = "control-label col-md-2" })
         <div class="col-md-10">
             @Html.EditorFor(model => model.Spelare3ID)
             @Html.ValidationMessageFor(model => model.Spelare3ID)
         </div>
     </div>

     <div class="form-group">
         @Html.LabelFor(model => model.Spelare4ID, new { @class = "control-label col-md-2" })
         <div class="col-md-10">
             @Html.EditorFor(model => model.Spelare4ID)
             @Html.ValidationMessageFor(model => model.Spelare4ID)
         </div>
     </div>*@
      
        @*<div class="form-group">
            @Html.LabelFor(model => model.SokFornamn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SokFornamn)
                @Html.ValidationMessageFor(model => model.SokFornamn)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.SokEfternamn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SokEfternamn)
                @Html.ValidationMessageFor(model => model.SokEfternamn)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Medlem, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Medlem)
                @Html.ValidationMessageFor(model => model.Medlem)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.GolfID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GolfID)
                @Html.ValidationMessageFor(model => model.GolfID)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Adress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adress)
                @Html.ValidationMessageFor(model => model.Adress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Användare, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Användare)
                @Html.ValidationMessageFor(model => model.Användare)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Datepicker, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Datepicker)
                @Html.ValidationMessageFor(model => model.Datepicker)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.MedlemKön, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MedlemKön)
                @Html.ValidationMessageFor(model => model.MedlemKön)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MedlemHCP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MedlemHCP)
                @Html.ValidationMessageFor(model => model.MedlemHCP)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.TotaltHCP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotaltHCP)
                @Html.ValidationMessageFor(model => model.TotaltHCP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AntalDeltagare, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AntalDeltagare)
                @Html.ValidationMessageFor(model => model.AntalDeltagare)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
