@*@model Golf_6.Models.Tidsbokning*@
@model System.Data.DataTable
@using Golf_6.Controllers;
@using Golf_6.Models;
@using System.Collections.Generic;
@using System.Web.Mvc.Ajax;
@using System.Data;

@*@model Golf_6.ViewModels.SearchViewModel*@

@{
    Layout = "~/Views/Shared/_LayoutMedlem.cshtml";
}
@{
    ViewBag.Title = "Bokning";
}

@Styles.Render("~/Content/DataTables/css/jquery.dataTables.css")
@Styles.Render("~/Content/DataTables/css/dataTables.bootstrap.min.css")
@Styles.Render("~/Content/DataTables/css/responsive.bootstrap.min.css")

@*Ev kommande funktion behöver dessa*@
@Styles.Render("~/Content/DataTables/css/responsive.dataTables.min.css")
@Styles.Render("~/Content/DataTables/css/buttons.dataTables.min.css")

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="~/Scripts/JavaScript.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@*<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.2/jquery.validate.unobtrusive.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js"></script>*@



    <h2>Bokning</h2>
    <br />
    <br />
    <p>
        Boka tid genom att ange spelares golfID i textrutorna.
        <br />
    <br /> <b>Regler för bokning:</b> <br />
    Du kan boka in max en anonym gäst.<br />
    Max en bokning per dag.<br />
    Det totala handikappet för bollen får ej överstiga 120.<br />
    Bokningen måste vara inom 30 dagar från dagens datum. <br />
    <br />
    Vid bokning av gäst ange siffran "1".
</p>
<br />
<div>
        <p><b>Använd sökfunktionen för ta reda på vilket golfID dina medspelare har.</b> </p>
   
    <button type="visaSok" class="btn btn-primary" onclick="showDiv()">Visa sökfunktion</button>
        
   
    <button type="doljSok" class="btn btn-primary" onclick="hideDiv()">Dölj sökfunktion</button>
        
        @*@Html.ActionLink("Sök golfID här", "GetGolfID")*@
    </div>
<br />

<div class="sokfunktion" id="sokfunktion" style="display:none;">
    @if (Model.Columns == null)
    {
        string s = "Stanna här";
    }
    else
    {


        <table id="hamtaMedlemmar" class="display" cellspacing="0" width="100%">

            <thead>
                <tr>
                    @foreach (DataColumn x in Model.Columns)
                    {
                        <th>@x.ColumnName</th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @foreach (DataColumn x in Model.Columns)
                        {
                            <td>@row[x.ColumnName]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }

</div>

    @using (Html.BeginForm())

    {
        List<string> l = new List<string>();
        string a, b, c, d = "";
        l = ViewBag.Golfare;
        String datum = ViewBag.Datum;
        String tid = ViewBag.Tid;
        Tidsbokning t = new Tidsbokning();
        string bokningsID = ViewBag.BokningsID;
        string bokareID = ViewBag.BokareID;
        bool bokareInlagd = false;
        string bokareGolfID = ViewBag.BokareGolfID;

        if (l != null)
        {
            for (int i = 0; i <= l.Count; i++)
            {
                if (l.Count == 1 || l.Count > 1)
                {
                    a = l[0];
                    t.Spelare1ID = a;
                }
                if (l.Count == 2 || l.Count > 2)
                {
                    b = l[1];
                    t.Spelare2ID = b;
                }
                if (l.Count == 3 || l.Count > 3)
                {
                    c = l[2];
                    t.Spelare3ID = c;
                }
                if (l.Count == 4 || l.Count > 4)
                {
                    d = l[3];
                    t.Spelare4ID = d;
                }

            }
        }
            @Html.Hidden("bokareID", t.BokareID);
            @Html.Hidden("bokningsID", bokningsID);
            @Html.Hidden("nySpelare1", t.Spelare1ID);
            @Html.Hidden("nySpelare2", t.Spelare2ID);
            @Html.Hidden("nySpelare3", t.Spelare3ID);
            @Html.Hidden("nySpelare4", t.Spelare4ID);



        <div class="form-group">
            <style>
                #tbdatum {
                }
            </style>
            <div class="col-md-12">
                <label>Datum </label>
                @Html.TextBox("tbdatum", datum, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="col-md-12">
            <label>Tid </label>
            @Html.TextBox("tbtid", tid, new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="form-group">

            <div class="col-md-12">
                <label>Spelare nr 1: </label>
                @{
                    if (t.Spelare1ID == null)
                    {
                        @Html.TextBox("myTextBox1", bokareGolfID, new { @class = "form-control", @readonly = "readonly" })
                        bokareInlagd = true;
                    }
                    else
                    {
                        @Html.TextBox("myTextBox1", t.Spelare1ID, new { @class = "form-control", @readonly = "readonly" })
                    }
                }

            </div>
        </div>
        <div class="form-group">

            <div class="col-md-12">
                <label>Spelare nr 2: </label>
                @{
                    if (t.Spelare2ID == null && bokareInlagd)
                    {
                        @Html.TextBox("myTextBox2", t.Spelare2ID, new { @class = "form-control" })
                    }
                    else if (t.Spelare2ID == null && bokareInlagd == false)
                    {
                        @Html.TextBox("myTextBox2", bokareGolfID, new { @class = "form-control", @readonly = "readonly" })
                        bokareInlagd = true;
                    }
                    else
                    {
                        @Html.TextBox("myTextBox2", t.Spelare2ID, new { @class = "form-control", @readonly = "readonly" })
                    }
                }
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-12">
                <label>Spelare nr 3: </label>
                @{
                    if (t.Spelare3ID == null && bokareInlagd)
                    {
                        @Html.TextBox("myTextBox3", t.Spelare3ID, new { @class = "form-control" })
                    }
                    else if (t.Spelare3ID == null && bokareInlagd == false)
                    {
                        @Html.TextBox("myTextBox3", bokareGolfID, new { @class = "form-control", @readonly = "readonly" })
                        bokareInlagd = true;
                    }
                    else
                    {
                        @Html.TextBox("myTextBox3", t.Spelare3ID, new { @class = "form-control", @readonly = "readonly" })
                    }
                }
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-12">
                <label>Spelare nr 4: </label>
                @{
                    if (t.Spelare4ID == null)
                    {
                        @Html.TextBox("myTextBox4", t.Spelare4ID, new { @class = "form-control" })

                    }
                    else if (t.Spelare4ID == null && bokareInlagd == false)
                    {
                        @Html.TextBox("myTextBox4", bokareGolfID, new { @class = "form-control", @readonly = "readonly" })
                        bokareInlagd = true;
                    }
                    else
                    {
                        @Html.TextBox("myTextBox4", t.Spelare4ID, new { @class = "form-control", @readonly = "readonly" })

                    }
                }
            </div>
        </div>

        <p id="testare">fgdgfdgdf</p>


        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" style="margin-top:20px;" value="Boka" class="btn btn-primary btn-lg" />
            </div>
        </div>


        @section Scripts {

            @Scripts.Render("~/bundles/jqueryval")
            
@Scripts.Render("~/Scripts/DataTables/jquery.dataTables.min.js")
@Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.min.js")
@Scripts.Render("~/Scripts/DataTables/dataTables.responsive.min.js")
@Scripts.Render("~/Scripts/DataTables/responsive.bootstrap.min.js")

@*Testar ny funktion*@
@Scripts.Render("~/Scripts/DataTables/dataTables.buttons.min.js")
@Scripts.Render("~/Scripts/DataTables/buttons.colVis.min.js")
        }}

                    

@*<div class="search">
        <section id="Sök">
            @Html.Partial("SokPartial")
        </section>
    </div>*@


            @*@using (Ajax.BeginForm(
                        "SokId",
                        "Tidsbokning",
                        null,
                        new AjaxOptions
                        {
                            UpdateTargetId = "lblResult",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST"
                        },
                        new { id = "SampleForm" }))
            {
                <span>Förnamn: </span> @Html.TextBox("sokfornamn")<br />
                        <span>Efternamn: </span> @Html.TextBox("sokefternamn")<br />
                        <span id="lblResult"></span>
                        <button type="submit">Sök</button>
            }*@




@*@using (Html.BeginForm("Sok", "Tidsbokning", FormMethod.Post))
    {
     @Html.AntiForgeryToken()

        <div class="form-horizontal">
        <h4>Sök</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
            @Html.LabelFor(model => model.SokFornamn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
            @Html.TextBox("fornamn", null, new { @class = "form-control" })
            </div>
        </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SokFornamn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("efternamn", null, new { @class = "form-control" })
                </div>
            </div>*@

@*<div class="form-group">
        @Html.LabelFor(model => model.SokFornamn, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SokFornamn, new { htmlAttributes = new { @class = "form-control" }})
            @Html.ValidationMessageFor(model => model.SokFornamn, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.SokEfternamn, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SokEfternamn, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SokEfternamn, "", new { @class = "text-danger" })
        </div>
    </div>*@

@*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btnSök" value="Sök" class="btn btn-default" />
            </div>
        </div>
           @{
        List<string> l = new List<string>();
        l = ViewBag.Lista;
           }
            @if (l != null)
            {
                 <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <ul>
                    @foreach (string w in l)
                    {
                    <li>@w</li>
                    }
                </ul>
            </div>
        </div>
            }

    </div>
                }*@
@*<div>
        <p>Behöver du ta reda på vilket golfID dina medspelare har? </p>
        @Html.ActionLink("Sök golfID här", "GetGolfID")
    </div>*@
@*@using (Html.BeginForm("Search", "Tidsbokning", FormMethod.Post))
    {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sök</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Search.SokFornamn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Search.SokFornamn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Search.SokFornamn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Search.SokEfternamn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Search.SokEfternamn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Search.SokEfternamn, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group"
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btnSök" value="Sök" class="btn btn-default" />
            </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <ul>
                foreach (string w in ViewBag.Lista)
                {
                    <li>w</li>
                }
            </ul>
        </div>
    </div>

    }*@
@*<div class="col-md-4">
        <section id="medlemSök">
            @Html.Partial("GetGolfID", Model)
        </section>
    </div>*@

@*<div id="partialViewSök">test</div>*@

@*@ViewBag.Lista*@



@*@using (Html.BeginForm())
    {*@
@*@Html.AntiForgeryToken()*@




@*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@


