@model IEnumerable<Golf_6.Models.Tidsbokning>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
    <br />
    <br />
    <br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GolfID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
</tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GolfID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
@*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
