
@using System.Data;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@*@{
    ViewBag.Title = "AllaMedlemmar";
}*@


    @Styles.Render("~/Content/DataTables/css/jquery.dataTables.css")
    @Styles.Render("~/Content/DataTables/css/dataTables.bootstrap.min.css")
    @Styles.Render("~/Content/DataTables/css/responsive.bootstrap.min.css")

    @*Ev kommande funktion behöver dessa*@
    @Styles.Render("~/Content/DataTables/css/responsive.dataTables.min.css")
    @Styles.Render("~/Content/DataTables/css/buttons.dataTables.min.css")
    




<h2>Redigera befintlig medlem</h2>

<div>
    <table id="alla_medlemmar" class="display responsive" cellspacing="0">
    
        <thead>
        <tr>
            @foreach (DataColumn x in Model.Columns)
            {
                <th>@x.ColumnName</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                @foreach (DataColumn x in Model.Columns)
                {
                    <td>@row[x.ColumnName]</td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>

<!-- MODAL FÖR ATT REDIGERA OCH/ELLER RADERA MEDLEMMAR-->
<div id="modal-hantera-medlem" class="modal fade" role="dialog">
<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="modal-namn-medlem"></h4>
        </div>
        <div class="modal-body">
            <form id="modal-form" action="" method="post">
                    
                Förnamn: @Html.TextBox("fornamn")
                <br />
                Efternamn: @Html.TextBox("efternamn")
                <br />
                @Html.TextBox("adress")
                <br />
                @Html.TextBox("postnummer")
                <br />
                @Html.TextBox("ort")
                <br />
                @Html.TextBox("email")
                <br />
                @Html.TextBox("kon")
                <br />
                @Html.TextBox("handikapp")
                <br />
                @Html.TextBox("medlemskategori")
                <br />
                @Html.TextBox("golfid")
                <br />
                @Html.TextBox("telefonnummer")
                    
            </form>
        </div>
        <br /><br />
        <div class="modal-footer">
            <button type="button" class="btn btn-lg" data-dismiss="modal">Tillbaka</button>
            <button type="button" id="btn-radera" class="btn btn-lg btn-danger" data-dismiss="modal">Radera medlem</button>
            <button type="button" id="btn-redigera" class="btn btn-lg btn-info" data-dismiss="modal">Uppdatera medlem</button>
            <button type="button" id="btn-acceptera-ny-medlem" class="btn btn-lg btn-info" data-dismiss="modal">Lägg till medlem</button>
        </div>
    </div>
</div>
    </div>

<button type="button" id="btn-ny-medlem-modal" class="btn btn-lg btn-info">Ny medlem</button>

<div>
    @Html.ActionLink("Tillbaka", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.responsive.min.js")
    @Scripts.Render("~/Scripts/DataTables/responsive.bootstrap.min.js")
    
    @*Testar ny funktion*@
    @Scripts.Render("~/Scripts/DataTables/dataTables.buttons.min.js")
    @Scripts.Render("~/Scripts/DataTables/buttons.colVis.min.js")
}
