@model System.Data.DataTable
@using System.Data;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@*@{
    ViewBag.Title = "AllaMedlemmar";
}*@


    @Styles.Render("~/Content/DataTables/css/jquery.dataTables.css")
    @Styles.Render("~/Content/DataTables/css/dataTables.bootstrap.min.css")
    @Styles.Render("~/Content/DataTables/css/responsive.bootstrap.min.css")

    @*Ev kommande funktion behöver dessa*@
    @Styles.Render("~/Content/DataTables/css/responsive.dataTables.min.css")
    @Styles.Render("~/Content/DataTables/css/buttons.dataTables.min.css")
    




<h2>Redigera befintlig medlem</h2>

<div width="90%">
    <table id="alla_medlemmar" class="display responsive nowrap" cellspacing="0">
    
        <thead>
        <tr>
            @foreach (DataColumn x in Model.Columns)
            {
                <th>@x.ColumnName</th>
            }
            
        </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.Rows)
                {
                <tr>
                    @foreach (DataColumn x in Model.Columns)
                    {
                        <td>@row[x.ColumnName]</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Tillbaka", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.responsive.min.js")
    @Scripts.Render("~/Scripts/DataTables/responsive.bootstrap.min.js")
    
    @*Testar ny funktion*@
    @Scripts.Render("~/Scripts/DataTables/dataTables.buttons.min.js")
    @Scripts.Render("~/Scripts/DataTables/buttons.colVis.min.js")
}
