@model Golf_6.Models.TävlingModels.Startlista
@using Golf_6.Controllers;
@using Golf_6.Models;
@using System.Collections.Generic;
@using System.Data;
@{
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p>Avanmälan av deltagare</p>
<div class="center-block">

    <h2>Tävlingar</h2>

    <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Starttid</th>
                <th>Sluttid</th>
                <th>Max antal deltagare</th>
                <th>Totalt anmälda</th>
                <th>Sista anmälningsdag</th>
                <th>Anmäl</th>
                <th>Avanmäl</th>
            </tr>
        </thead>
        <tr>
            @foreach (DataRow row in Model.StartLista.Rows)
            {
                TävlingModels t = new TävlingModels();
                int id = Convert.ToInt32(@row["id"]);
                int antalAnmälda = 0;
                antalAnmälda = t.antalAnmälda(id);

                t.AntalAnmälda = antalAnmälda;
                int maxAntal = Convert.ToInt32(@row["max_antal"]);




                string antal = t.AntalAnmälda.ToString();
            <tr>
                <td>@Convert.ToDateTime(@row["datum"]).ToShortDateString()</td>
                <td>@row["starttid"]</td>
                <td>@row["sluttid"]</td>
                <td>@row["max_antal"]</td>
                <td>@antal</td>
                @*<td>@Html.Display(t.AntalAnmälda.ToString())</td>*@
                <th>@Convert.ToDateTime(@row["sista_anmalan"]).ToShortDateString()</th>
                @if (maxAntal > t.AntalAnmälda && DateTime.Today <= Convert.ToDateTime(@row["sista_anmalan"]))
                {
                    <td align="right">@Html.ActionLink("Anmäl", "AnmalanAdmin", "Admin", new { validate = Convert.ToInt32(@row["id"]) }, null)</td>
                }

                else
                {
                    <td></td>
                }
                @if (t.AntalAnmälda > 0)
                {
                    <td align="right">@Html.ActionLink("Avanmäl", "AvanmalanAdmin", "Admin", new { validate = Convert.ToInt32(@row["id"]) }, null)</td>
                }
                else
                {
                    <td></td>
                }
            </tr>
            }
            </tr>
        </table>


    </div>