@model Golf_6.Models.Admin.Incheckning
@using Golf_6.Controllers;
@using Golf_6.Models;
@using System.Collections.Generic;
@using System.Data;
@{
    ViewBag.Title = "Incheckning";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>


    <h2>Incheckning</h2>

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        @{
            List<string> l = new List<string>();
            string a, b, c, d = "";
            l = ViewBag.Spelare;
            DateTime datum = ViewBag.Datum;
            DateTime tid = ViewBag.Tid;
            int bokningsID = ViewBag.BokningID;
            Tidsbokning t = new Tidsbokning();

            if (l != null)
            {
                for (int i = 0; i <= l.Count; i++)
                {
                    if (l.Count == 1 || l.Count > 1)
                    {
                        a = l[0];
                        t.Spelare1ID = a;

                    }
                    if (l.Count == 2 || l.Count > 2)
                    {
                        b = l[1];
                        t.Spelare2ID = b;

                    }
                    if (l.Count == 3 || l.Count > 3)
                    {
                        c = l[2];
                        t.Spelare3ID = c;

                    }
                    if (l.Count == 4 || l.Count > 4)
                    {
                        d = l[3];
                        t.Spelare4ID = d;

                    }
                }
            }
            @Html.Hidden("datum", datum);
            @Html.Hidden("tid", tid);
            @Html.Hidden("bokningID", bokningsID);
            @Html.Hidden("nySpelare1", t.Spelare1ID);
            @Html.Hidden("nySpelare2", t.Spelare2ID);
            @Html.Hidden("nySpelare3", t.Spelare3ID);
            @Html.Hidden("nySpelare4", t.Spelare4ID);
        }



        <div class="form-group">
            @*<style>
                #tbdatum{

                }*@
            @*</style>*@

            <h3>Välj spelare att checka in</h3>
            <select class="list-group" id="spelarlista" name="spelarlista" multiple="multiple" style="width:800px">
              
                    <option value="@t.Spelare1ID">@t.Spelare1ID</option>
                    @if (t.Spelare2ID != null)
                {
                        <option value="@t.Spelare2ID">@t.Spelare2ID</option>
                    }
                    @if (t.Spelare3ID != null)
                {
                        <option value="@t.Spelare3ID">@t.Spelare3ID</option>
                    }
                    @if (t.Spelare4ID != null)
                {
                        <option value="@t.Spelare4ID">@t.Spelare4ID</option>
                    }
                </select>
            <br />
            <input type="submit" id="" value="Checka in" class="btn btn-primary btn-lg" data-content="spelarlista" />
        </div>


    </div>

    <br />
    <div class="center-block">

        <h2>Incheckade spelare</h2>

    <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>GolfID</th>
                <th>Scorekort</th>
              </tr>
        </thead>
        <tr>
            @foreach (DataRow row in Model.Incheckade.Rows)
            {
                @Html.Hidden("starttid", @row["tid"]);
            <tr>
                <td>@row["fornamn"]</td>
                <td>@row["efternamn"]</td>
                <td>@row["golfid"]</td>
                <td align="left">
                    @Html.ActionLink("Scorekort - Röd tee", "ScorekortIfyllt", "ScorekortModel", new { m = Convert.ToInt32(@row["medlem_id"]), tee = "1", starttid = @row["tid"], date = datum.ToShortDateString() }, null)
                    <br />@Html.ActionLink("Scorekort - Gul tee", "ScorekortIfyllt", "ScorekortModel", new { m = Convert.ToInt32(@row["medlem_id"]), tee = "3", starttid = @row["tid"], date = datum.ToShortDateString() }, null)
                    <br />@Html.ActionLink("Scorekort - Tomt", "Scorekort", "ScorekortModel", new { }, null)
                </td>
            </tr>
            }
            </tr>
        </table>


    </div>
            }
