@*@using Golf_6.Models*@
@model Golf_6.ViewModels.AdminMedlemshanteringViewModel

@{
    ViewBag.Title = "RaderaMedlem";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Radera medlem</h2>


@using (Html.BeginForm("RaderaMedlem", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationMessageFor(model => model.Admin)

    <div class="form-horizontal">
        <h4>Radera medlem</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Admin.GolfID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Admin.GolfID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Admin.GolfID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Radera medlem" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tillbaka", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/jquery.validate.js")
    @Scripts.Render("~/jquery/validate/unobtrusive.js")
}
