@using Golf_6.Models
@using Golf_6.ViewModels
@model IEnumerable<Golf_6.Models.Medlem>

@{
    ViewBag.Title = "RedigeraMedlem";
}

<h2>Redigera befintlig medlem</h2>
@if (!Model.Any())
{
    <p>Finns inga medlemmar med det namnet än.</p>
}

@using (Html.BeginForm("RedigeraMedlem", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Förnamn</th>
                <th>Efternamn</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var medlem in Model)
            {
                <tr>
                    <td>@medlem.Förnamn</td>
                    <td>@medlem.Efternamn</td>
                </tr>
            }
            </tbody>
        </table>
       
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lägg till medlem" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tillbaka", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
