@model Golf_6.Models.Medlem


@{
    ViewBag.Title = "Personuppgifter";
    Layout = "~/Views/Shared/_LayoutMedlem.cshtml";
}



<div class="container">
    <div class="row">
        <h2>Personuppgifter</h2>

        <form id="personuppgifterForm"class="form-horizontal">
            <fieldset>
          
                <legend>Uppdatera dina&nbsp;personuppgifter&nbsp;här:</legend>
            
                <div class="form-group">
                   
                    <div class="col-md-4">
                        <label>Förnamn</label>
                        <input id="fornamninput" name="textinput" placeholder="@Html.DisplayFor(model => model.Förnamn)" class="form-control input-md" required="" type="text">
                     
                        <span class="help-block"> </span>
                    </div>
                </div>
               
                <div class="form-group">
                   
                    <div class="col-md-4">
                        <label>Efternamn</label>
                        <input id="efternamninput" name="textinput" placeholder="@Html.DisplayFor(model => model.Efternamn)" class="form-control input-md" required="" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>
               
                <div class="form-group">
               
                    <div class="col-md-4">
                        <label>Adress</label>
                        <input id="adressinput" name="textinput" placeholder="@Html.DisplayFor(model => model.Adress)" class="form-control input-md" required="" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>
               
                <div class="form-group">
                   
                    <div class="col-md-4">
                        <label>Ort</label>
                        <input id="ortinput" name="textinput" placeholder="@Html.DisplayFor(model => model.Ort)" class="form-control input-md" required="" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>
         
                <div class="form-group">
                    <div class="col-md-4">
                        <label>Postnummer</label>
                        <input id="postnummerinput" name="textinput" placeholder="@Html.DisplayFor(model => model.Postnummer)" class="form-control input-md" required="" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <div class="form-group" >
                    <div class="col-md-4">
                        <label>Email</label>
                        <input id="emailinput" label="Förnamn" name="textinput" placeholder="@Html.DisplayFor(model => model.Email)" class="form-control input-md" required="" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <div class="col-md-4">
                        <label>Telefonnummer</label>
                        <input id="telefonnummerinput" name="textinput" placeholder="@Html.DisplayFor(model => model.Telefonnummer)" class="form-control input-md" required="" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <label>HCP</label>
                        <input id="hcpinput" name="textinput" placeholder="@Html.DisplayFor(model => model.Hcp)" class="form-control input-md" required="" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <label>Kön</label>
                        <input id="koninput" name="textinput" placeholder="@Html.DisplayFor(model => model.Kön)" class="form-control input-md" required="" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <button class="btn btn-primary">Uppdatera</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</div>

