<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Medlemssidor</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
 

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.migrate/jquery-migrate-1.2.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.2/jquery.validate.unobtrusive.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js"></script>   

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mina sidor", "Index", "Medlem", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Boka", "Bokningsschema", "Tidsbokning")</li>
                    <li>@Html.ActionLink("Tävlingar", "TavlingMedlem", "Medlem")</li>
                    <li>@Html.ActionLink("Mina bokningar", "MinaBokningar", "Medlem")</li>
                    <li>@Html.ActionLink("Personuppgifter", "Personuppgifter", "Medlem")</li>
                    


                </ul>
                <button class="btn btn-primary btn-lg pull-right" >@Html.ActionLink("Logga ut", "LogOff", "Account")</button>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <address>
                <br />
                <br />
                Hålslagets golfbana<br />
                Gatan 23, Orten<br /><br />
                <abbr title="Phone"><strong>Vid frågor, ring oss på:</strong></abbr>
                070-12 34 567
            </address>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/JavaScript.js")
    @RenderSection("scripts", required: false)
</body>
</html>